.card-widget.card-map
  .card-content
    .item-headline
      i.fa.fa-globe-asia(aria-hidden="true")
      span= _p('aside.card_map')
    script#clstr_globe(type="text/javascript" defer="defer" src="//clustrmaps.com/globe.js?d=Xfn0rYJ4AUc4Z8nSeWKIP7sHazBwitVyvCZbxoZUj8s")
